/* line 4, main_app/static/main_app/style.scss */
body {
  background-color: #d6e3e3;
  padding-bottom: 70px; }

/* line 9, main_app/static/main_app/style.scss */
footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color(#d6e3e3); }

/* line 19, main_app/static/main_app/style.scss */
button.btn, input.btn {
  background-color: #0073ff; }

/* line 27, main_app/static/main_app/style.scss */
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  /* line 31, main_app/static/main_app/style.scss */
  .box div.card_box {
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    margin: 1rem;
    padding: 1rem; }

/* line 41, main_app/static/main_app/style.scss */
div.card_title {
  font-weight: 400;
  font-size: larger;
  color: darkgreen; }

/* line 47, main_app/static/main_app/style.scss */
.about_image {
  margin: auto;
  padding: 35vh;
  background: url("/static/img/care-bear-png.png") center top;
  background-size: cover; }
