/* line 4, main_app/static/main_app/style.scss */
body {
  background-color: #d6e3e3;
  padding-bottom: 70px; }

/* line 9, main_app/static/main_app/style.scss */
footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color(#d6e3e3); }

/* line 19, main_app/static/main_app/style.scss */
button.btn, input.btn {
  background-color: #0073ff; }

/* line 27, main_app/static/main_app/style.scss */
div.card_toy {
  width: 30vh;
  height: 10vh;
  margin: auto;
  padding: 10; }
