{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">ʕ •́؈•̀)</h1>
<hr />
    <div class="row">
        <div class="col s6">
            <div class="card">  
                <div class="card-body">
                        <div class="card_title">{{ bear.name }}</div>
                        <p class="card-text">Breed: {{ bear.breed }}</p>
                        <p class="card-text">Description: {{ bear.description }}</p>
                        {% if bear.age > 2 %}
                            <p class="card-text">Age: {{ bear.age }}</p>
                        {% else %}
                            <p class="card-text">Age: Cub</p>
                        {% endif %}
                    
                        <div>
                            <hr/>
                            <a href="{% url 'bears_update' bear.id %}">Edit</a>
                            <a href="{% url 'bears_delete' bear.id %}">Delete</a>
                        </div>
                </div>    
            </div>
        </div> 
        <div class="col s6">
            <form action="{% url 'add_feeding' bear.id %}" method="POST">
                {% csrf_token %}
                {{ feeding_form.as_p }}
                <input type="submit" class="btn" value="Add Feeding">
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Meal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feeding in bear.feeding_set.all %}
                        <tr>
                            <td>{{ feeding.date }}</td>
                            <td>{{ feeding.get_meal_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
    <hr>
<div class="row">
  <div class="col s6">
    <h3>{{ bear.name }}'s Toys</h3>
    {% if bear.toys.count %}
      {% for toy in bear.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s2">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' bear.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{bear.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>
</div>

<script>
    const dateEl = document.querySelector('#id_date');
    dateEl.type = 'date';

    const selectEl = document.querySelector('#id_meal');
    selectEl.className = 'form-select';
</script>
{% endblock %}

